APP_NAME=flow-stack
ENV_NAME=local
STACK_NAME=flow-stack-local

WEBSITE_HOST=flow-stack-website-local
WEBSITE_PORT=5173

NODE_VERSION=22-alpine
NODE_ENV=development
VITEPRESS_BASE=/

TZ=Europe/Paris
UID=1000
GID=1000
