APP_NAME=agentic-software-factory
ENV_NAME=local
STACK_NAME=agentic-software-factory-local

WEBSITE_HOST=agentic-software-factory-website-local
WEBSITE_PORT=5173

NODE_VERSION=22-alpine
NODE_ENV=development
VITEPRESS_BASE=/

TZ=Europe/Paris
UID=1000
GID=1000
